js/coffeescript/ipl-dataset/phase3/views/index.pug
html
  head
    title IPL data (Mongo version)
    link(rel='stylesheet', href='main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    h2 Simple IPL Analytics (mongo version)

    div#container
      div#menu

      div#content

    script(src='main.js')

js/coffeescript/ipl-dataset/phase2/public/index.html
<html>
  <head>
    <title>IPL Stats</title>
    <link rel="stylesheet" type="text/css" href="main2.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1> Simple jQuery - Example </h1> 

    <div id="container">
      <div id="menu">
      </div>

      <div id="content">
	<-- click on the menu to look at match schedule
      </div>
    </div>
  <script src="main2.js"></script>
  
</html>
